* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
ul {
  list-style-type: none;
}

.container {
  position: relative;
  background: #f4f4f4;
  padding-bottom: 80px;
  height: 50vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fefefe;
  padding: 0 20px;
  box-shadow: 2px 2px 1px rgba(0,0,0,.1) ;
}
.header p {
  font-size: 20px;
  font-weight: 700;
  color: rgba(32,78,85,.8);
}
.header ul {
  display: flex;
  justify-content: space-between;
}
.header ul li {
  margin: 0 8px;
  padding: 20px 7px;
  color: #7f7f7f;
  transition: all .5s ease-in;
}
.header ul li:hover {
  background-color: rgba(0,0,0,.05);
}
.guide-list {
  padding: 10px 20px;
  max-width: 800px;
  margin: 40px auto 15px;
}
.guide h5 {
  background: #e9e9e9;
  padding: 15px 0;
  border-bottom: 2px solid #fefefe;
  box-shadow: 3px 5px 5px rgba(0,0,0,.1);
}
.guide p {
  background: #fefefe;
  padding: 15px 0;
  transition: all .5 ease-in;
}
.hid {
  display: none;
}
.background {
  display: none;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
}
.background div {
  background: #fff;
  padding: 50px 20px;
  margin-top: 150px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 2px 5px 3px rgba(0,0,0,.3) ;
} 
.background .account-modal {
  text-align: center;
  padding-top: 20px;
} 
label,input,button{
  display: block;
  margin: 5px 0;
}
form {
  position: relative;
}
input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  margin: 20px 0 40px;
}

input:focus {
  outline: none;
}

button {
  color: #fff;
  border: 0;
  background: rgba(32,78,85,.8);
  padding: 10px;
  border-radius: 5px;
  float: right;
}
.signOut {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}


@media (max-width:500px) {
  .header {
    padding: 20px 10px;
  }
  nav {
    display: none;
  }
}
